[Desktop Entry]
Comment=
Exec=su-me my-pppconf
Icon=dsl
Name=My PPP Conf
Path=
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
