[Desktop Entry]
Comment=
Exec=kanotix-su my-pppconf
Icon=kanotix-dsl
Name=My PPP Conf
Path=
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
