[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=su-to-root -X -c /usr/sbin/configure-pppoeconf
Icon=sidux-pppoe
Name=My PPPoE Conf
Name[de]=Konfiguration PPPoE
Name[pt]=Configuração de PPPoE
Name[pt_BR]=Configuração de PPPoE
Name[ru]=Конфигурация PPP через Ethernet
Categories=Network;
