[Desktop Entry]
Comment=
Exec=kanotix-su eagle-pppoeconf
Icon=kanotix-dsl
Name=Eagle PPPoE Conf
Path=
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
