[Desktop Entry]
Comment=
Exec=fcdsl-pppoeconf
Icon=dsl
Name=Fritz!Card DSL PPPoE Conf
Path=
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
