[Desktop Entry]
Comment=
Exec=kanotix-su my-pppoeconf
Icon=kanotix-dsl
Name=My PPPoE Conf
Path=
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
