[Desktop Entry]
Comment=
Exec=su-to-root -X -c /usr/sbin/my-pppconf
Icon=dsl
Name=My PPP Conf
Name[ru]=Конфигурация PPP
Path=
Terminal=0
TerminalOptions=
Type=Application
Categories=Network;
