[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=su-to-root -X -c /usr/sbin/ppp-config
Icon=ppp-config
Name=ppp-config
GenericName=Konfiguration von PPP Verbindungen
Categories=Network;
