[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=su-to-root -X -c /usr/sbin/pppoe-config
Icon=pppoe-config
Name=pppoe-config
GenericName=Konfiguration von PPPoE ADSL Verbindungen
Categories=Network;
