Source: configure-dsl
Section: misc
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 6), gettext, imagemagick
Standards-Version: 3.7.3
Vcs-Svn: svn://svn.berlios.de/fullstory/configure-dsl/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/configure-dsl/trunk/

Package: configure-dsl
Architecture: all
Depends: dialog, ssft, ppp, libproc-processtable-perl, libui-dialog-perl, gettext, ppp-scripts
Recommends: br2684ctl, menu, zenity
Suggests: kppp
Description: DSL configuration tools
 These scripts can be used to configure various different xDSL connection types
 and modems for sidux.
