Source: configure-dsl
Section: misc
Priority: extra
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: debhelper (>= 7.2.2)
Standards-Version: 3.9.1
Vcs-Svn: svn://svn.berlios.de/fullstory/configure-dsl/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/configure-dsl/trunk/

Package: configure-dsl
Architecture: all
Depends: ${misc:Depends},
 dialog,
 ppp,
 libproc-processtable-perl,
 libui-dialog-perl,
 gettext
Recommends: br2684ctl,
 menu,
 zenity
Suggests: kppp
Description: DSL configuration tools
 These scripts can be used to configure various different xDSL connection types
 and modems for sidux.
 .
 At the moment only PPPoE connections are supported.
