Source: configure-dsl
Section: misc
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5), gettext
Standards-Version: 3.7.2
XS-Vcs-Svn: svn://svn.berlios.de/fullstory/configure-dsl/trunk
XS-Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/configure-dsl/trunk/

Package: configure-dsl
Architecture: all
Depends: dialog, ssft, su-me, sidux-xdg, ppp, br2684ctl, libproc-processtable-perl, libui-dialog-perl, gettext
Recommends: zenity
Description: DSL configuration tools
 These scripts can be used to configure various different xDSL connection types
 and modems for sidux.
