#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

build/configure-dsl::
	# Gettext Internationalisation (i18n)
	DESTDIR=$(CURDIR)/debian/configure-dsl $(CURDIR)/po-pppconf/make_po.sh my-pppconf.mo

install/configure-dsl::
	mkdir -p debian/configure-cups/usr/share/pixmaps
	convert icons/hicolor/32x32/apps/sidux-pppoe.png \
		debian/configure-cups/usr/share/pixmaps/sidux-pppoe.xpm
	convert icons/hicolor/16x16/apps/sidux-pppoe.png \
		debian/configure-cups/usr/share/pixmaps/sidux-pppoe-16.xpm

