#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

build/configure-dsl::
	# Gettext Internationalisation (i18n)
	DESTDIR=$(CURDIR)/debian/configure-dsl $(CURDIR)/po/make_po.sh my-pppconf.mo

install/configure-dsl::
	# set up module parameter for Eagle ADSL USB modems
	        dh_installmodules --name=ueagle-atm

create-icons::
	# requires inkscape and imagemagick to be installed
	@if [ ! -x /usr/bin/convert ]; then \
		echo "ERROR: imagemagick not installed!" ; \
		false ; \
	fi
	@if [ ! -x /usr/bin/inkscape ]; then \
		echo "ERROR: inkscape not installed!" ; \
		false ; \
	fi
	
	mkdir -p icons/pixmaps
	for f in ppp-config pppoe-config; do \
		for i in 16 22 32 48 64 128; do \
			mkdir -p "icons/hicolor/$${i}x$${i}/apps" ; \
			inkscape --export-width=$${i} \
				 --export-height=$${i} \
				 --export-png="$(CURDIR)/icons/hicolor/$${i}x$${i}/apps/$${f}.png" \
					$(CURDIR)/icons/$${f}.svg ; \
		done ; \
		convert icons/hicolor/32x32/apps/$${f}.png icons/pixmaps/$${f}.xpm ; \
		convert icons/hicolor/16x16/apps/$${f}.png icons/pixmaps/$${f}-16.xpm ; \
	done

